/* Global or Common CSS start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/banner-bg-2.png), url(./images/banner-bg-1.png);
  background-repeat: no-repeat;
}

/* Variable with Global Scope: */
:root {
  --main-theme-color: #fe8c45;
  --main-btn-color: #8a47f6;
}

/* Global BTN */
.global-btn {
  background-color: var(--main-theme-color);
  color: #ffffff;
  border-radius: 90px;
  font-size: 20px;
  font-weight: 500;
  padding: 18px 45px;
  font-family: "Quicksand", sans-serif;
}

.global-color {
  background-color: var(--main-btn-color);
}
/* Global or Common CSS end */

/* Banner or Hero section CSS */
.banner-left {
  margin-left: 150px;
  & h1 {
    font-family: "Raleway", sans-serif;
    font-size: 74px;
    font-weight: 900;
    color: #111111;
    & span {
      color: var(--main-btn-color);
    }
    & hr {
      border-color: var(--main-btn-color) !important;
      border-radius: 70px;
      width: 156px !important;
      height: 25px;
      background-color: var(--main-btn-color);
    }
  }
  & p {
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #333333;
  }
}
.slider-indicators {
  margin-right: 180px;
  & button {
    background-color: var(--main-btn-color);
    width: 20px !important;
    height: 20px !important;
    margin: 5px;
  }
}

.slider-indicators button.active {
  background-color: var(--main-btn-color);
}

/* About us section CSS */
.about-right {
  & h5 {
    color: #111111;
    font-size: 22px;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    & hr {
      border-color: var(--main-btn-color) !important;
      width: 29px !important;
      height: 0px;
      background-color: var(--main-btn-color);
    }
  }
  & h3 {
    font-family: "Raleway", sans-serif;
    color: #111111;
    font-size: 54px;
    font-weight: 900;
    line-height: 68px;
    & span {
      color: var(--main-btn-color);
    }
  }
  & p {
    font-size: 20px;
    text-align: justify;
    color: #333333;
    font-family: "Quicksand", sans-serif;
  }
}

/* Our Portfolio section CSS */
.portfolio-container {
  background-image: url("./images/Portfolio-bg-1.png"),
    url("./images/Portfolio-bg-2.png");
  background-position: 100% -10%, 0% 103%;
  background-repeat: no-repeat, no-repeat;
  & h2 {
    font-family: "Raleway", sans-serif;
    font-size: 52px;
    font-weight: 900;
    & span {
      color: var(--main-btn-color);
    }
  }
  & ul {
    font-family: "Quicksand", sans-serif;
    font-size: 23px;
    font-weight: 500;
    color: #333333;
  }
}

/* Our Portfolio section CSS */
.portfolio-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 10px;
}

/* Prices section CSS */
.prices-container {
  background-image: url(./images/Portfolio-bg-1.png);
  background-position: 100% 890%;
  background-repeat: no-repeat;
  padding-bottom: 160px;
  & h2 {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 900;
  }
}

.card-body {
  border: none;
  & h5 {
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: 900;
  }
  & p {
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  & h2 {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 900;
  }
}

/* Testimonials section CSS */
.slider-container {
  & .card {
    background-color: #f4edff;
    & .card-body {
      & p {
        font-family: "Quicksand", sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: #111111;
      }
      & h2 {
        font-family: "Raleway", sans-serif;
        font-size: 50px;
        font-weight: 900;
        color: #111111;
      }
      & p {
        font-family: "Quicksand", sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #333333;
      }
      & .testimonials-info {
        background-color: #e5d5fe;
        cursor: pointer;
        & h5 {
          font-family: "Quicksand", sans-serif;
          font-size: 22px;
          color: #333333;
          font-weight: 500;
        }
      }
    }
  }
}

/* Instagram Feed section CSS */
.instagram-container{
  background-image: url(./images/Portfolio-bg-2.png);
  background-position: 0% 110%;
  background-repeat: no-repeat;
  padding-bottom: 200px;

  & h4{
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: #111111;
  }
}

/* Have A Question? section CSS */
.contact-container{
  background-image: url("./images/Question-bg-01.png"),
    url("./images/Question-bg-02.png");
  background-position: 100% 103%, 90% 123%;
  background-repeat: no-repeat, no-repeat;
  padding-bottom: 100px;
  & h2{
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: #111111;
  }
  & p{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #333333;
    margin: 0;
  }
  & h5{
    font-family: "Quicksand", sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #333333;
  }
  & h6{
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #333333;
    margin: 0;
  }
  & img{
    cursor: pointer;
  }
}
